snippet coucou2 "coucou2"
	@route(${1:path}[${2:id}])$0

snippet glyphicon "glyphicon"
	<span class="glyphicon glyphicon-${1:myglyph}">${2:text}</span>

snippet formgroup "formgroup"
	<div class="form-group">

snippet formcontrol "formcontrol"
	<div class="form-control">

snippet button "button"
	<button type="button" onclick="window.location='${1:url}'" class="btn btn-default">${1:text}</button>

snippet button "button-submit"
	<button type="submit" class="btn btn-default">${1:text}</button>
