snippet metadata "metadata"
	---
	title: ${1:title}
	subtitle:  ${2:subtitle}
	---

snippet noteinline "noteinline"
	[^${1:name}]

snippet notedescription "notedescription"
	[^${1:name}]

snippet table "table"
	| data1 | data2 |
	|-------|-------|
	| data1 | data2 |



